body{
    background-color: white;
    max-width: 600px;
    margin:auto;
}

article + article{
    margin-top: 3rem;
    padding-top: 3rem;
}

article{
    border-bottom: 1px solid;
}

p{
    line-height: 2rem;
}